@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden !important;
}
li{
    list-style: none;
}
ul{
    margin-bottom: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
.intro{
    height: 100vh;
    min-height: 700px;
}
.intro-bg{
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 0;
}
.intro-col{
    position: relative;
    z-index: 4;
}
.intro-overlay{
    z-index: 1;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    opacity: 0.55;
}
.header{
    position: relative;
    z-index: 1000;
}
.header-logo{
    font-weight: 700;
}
.navigation{
}
.navigation ul li{
    opacity: .8;
    font-size: 0.95em;

    transition: 300ms;
}
.navigation ul li:nth-child(4){
    display: flex;
    gap: 0px 5px;
}
.navigation ul li:nth-child(4):after{
    content: '>';
    display: inline-block;

    transform: rotate(90deg) translatex(2px);

    cursor: pointer;
}
.navigation ul li a{
    transition: all 300ms;
}
.navigation ul li a:hover{
    opacity: 1;
    color: orange;
}
.navigation.active *{
    color: #000;
}
.navigation.active ul{
    display: flex;
    flex-direction: column;
    gap: 1em 0;
}
.close-nav{
    right: 20px;
    top: 20px;
    height: 35px;
    width: 35px;

    z-index: 6;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;

    display: none;
}
.navigation.active .close-nav{
    display: flex;
}
.close-nav::before, .close-nav::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #000;
}
.close-nav::before{
    transform: rotate(45deg) translateY(1px);
}
.close-nav::after{
    transform: rotate(-45deg) translateY(-1px);
}
.toggle-menu{
    display: none;

    width: 35px;
    height: 20px;

    position: relative;
    z-index: 5;

    cursor: pointer;
}
.toggle-menu span{
    width: 100%;
    height: 2px;

    background-color: #fff;
}
.toggle-menu span::before,
.toggle-menu span::after{
    position: absolute;

    content: '';
    background-color: #fff;
    width: 100%;
    height: 2px;
}
.toggle-menu span::before{
    top: 50%;
    transform: translateY(-50%);
}
.toggle-menu span::after{
    bottom: 0;
}
.intro-content{
    z-index: 3;
}
.intro-content-logo{
    font-size: 6em;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.intro-btn{
    font-weight: 500;
    font-size: 1.1em;
    border-style: solid;
    border-width: 2px;
    padding: 15px 35px;

    transition: 300ms all;
}
.intro-btn:hover{
    background-color: #fff !important;
    color: black !important;
}
.watch-btn{
    border: none;
    background: none;
    filter: invert(1);
}
.watch-btn::before{
    content: '';
    border: 1px solid #000;
    padding: 13px 15px;
    border-radius: 50%;
}

/* service */
.service{
    min-height: 500px;
}
.grayscale{
    filter: grayscale(1);
    transition: all 250ms ease-in-out;

    cursor: pointer;
}
.grayscale:hover{
    filter: grayscale(0);

    transform: translateY(-10px);
    box-shadow: 0px 1rem 1.5rem 0px #999;
}
.service-item-text p{
    color: #52565e;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.service-item-text button{
    border: none;
    background-color: transparent;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #999;
}
.service-text-title{
    font-weight: 400;
}
/* portfolio */
.portfolio{
    padding: 7em 0;
}
.portfolio p, .services p, .testimonials-name{
    font-size: 0.8em;
    font-weight: 700;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.portfolio h2, .services h2{
    font-weight:400;
    font-family: 'Roboto', sans-serif; 
    font-size: 2em;
}
.portfolio-item-overlay{
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    opacity: 0;

    transition: opacity 300ms ease-in-out;
}
.img-div{
    cursor: pointer;
}
.img-div:hover .portfolio-item-overlay{
    opacity: 0.7;
}
.img-div:hover .portfolio-text-name, .img-div:hover .portoflio-text-category{
    opacity: 1;
    transform: translateY(0px);
}
.img-div:hover .portoflio-text-category{
    transition-delay: 200ms;
}
.portfolio-img-text{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.portfolio-text-name, .portoflio-text-category{
    opacity: 0;

    transition: all 300ms ease-in-out;

    transform: translateY(10px);
}
.portfolio-text-name{
    font-size: 1.5em;
}
.portoflio-text-category{
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 0.8em;
    color: rgb(223, 223, 223);
}
/* Create */
.create{
    padding: 7em 0;
}
.create-btn{
    font-weight: 500;
    font-size: 1.1em;
    border-style: solid;
    border-width: 2px;
    padding: 15px 35px;
    background-color: #252525;

    transition: 300ms all;
}
.create-btn:hover{
    background-color: #fff;
    border: 2px solid #252525;
    color: #252525 !important;
}
.create h2{
    font-weight: 400;
}
.create span{
    font-size: 0.8em;
    font-weight: 700;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.create p{
    color: #52565e;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.downed{
    transform: translateY(50px);
}
/* services */
.services{
    padding: 7em 0;
}
.services-item{
    margin-top: 1em;
}
.service-suptitle{
    color: #52565e;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.service-btn{
    border: none;
    background-color: transparent;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #999;

    margin-top: 0.5em;

    cursor: pointer;
}
.service-name, .testimonials-title{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.icon{
    font-size: 2em;
}
/* testimonials */
.testimonials{
    padding: 7em 0;
}

.person-img{
    width: 60px;
}

.quote{
    font-size: 1.25em;
    font-weight: 300;
}

.quote-div{
    padding: 0 1em;
}
.interests{
    padding: 7em 0;
    margin-bottom: 5em;
}
/* subscribe */
.subscribe{
    padding: 7em 0;
    background-color: rgb(240, 240, 240);
}
.subscribe input{
    border: 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: transparent; 
    outline: none;
}
/* footer */

.footer{
    padding: 7em 0;
}
.footer span, .copyright{
    font-weight: 300;
    font-size: 0.95em;
    color: #252525;
    opacity: 0.6;

    cursor: pointer;

    transition: all 300ms;
}
.copyright{}
.footer span:hover{
    opacity: 1;
}
.footer-nav-bold{
    font-weight: 500;

    font-size: 0.9em;

    color: #252525;

    cursor: pointer;
}

@media (max-width: 1024px) {
    .navigation{
        position: fixed;
    
        height: 100%;
        width: 300px;
        margin-right: -300px;
        right: 0;
        bottom: 0;
        top: 0;

        transition: all 300ms;
        justify-content: flex-start;
        align-items: flex-start !important;
        background-color: #fff;
        z-index: 1000;
    
        color: #000;
    }
    .navigation ul{
        display: flex !important;
        flex-direction: column;
        padding-top: 100px;
        padding-left: 50px;
    }
    .navigation.active ul li{
        align-self: flex-start;
    }
    .navigation.active{
        margin-right: 0px;
        transition: all 300ms;
    }
    .toggle-menu{
        display: flex;
    }
}
@media (max-width: 768px) {
    .intro-content-logo{
        font-size: 4em;
    }
    .quote-div{
        margin: 1em 0;
        padding: 2em!important;
    }
}